<!--<html xmlns:th="http://www.thymeleaf.org"-->
  <!--th:replace="~{fragments/layout :: layout (~{::body},'owners')}">-->

<!--<body>-->

  <!--<h2>Owner</h2>-->
  <!--&lt;!&ndash;/*@thymesVar id="person" type="messages"*/&ndash;&gt;-->
  <!--<form th:object="${person}" class="form-horizontal" id="add-person-form" method="post">-->
    <!--<div class="form-group has-feedback">-->
      <!--<input-->
        <!--th:replace="~{fragments/inputField :: input ('First Name', 'firstName')}" />-->
      <!--<input-->
        <!--th:replace="~{fragments/inputField :: input ('Last Name', 'lastName')}" />-->
      <!--<input-->
        <!--th:replace="~{fragments/inputField :: input ('Address', 'address')}" />-->
      <!--<input-->
        <!--th:replace="~{fragments/inputField :: input ('City', 'city')}" />-->
      <!--<input-->
        <!--th:replace="~{fragments/inputField :: input ('Telephone', 'telephone')}" />-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<div class="col-sm-offset-2 col-sm-10">-->
        <!--<br>-->
        <!--<button th:with="text=${person['new']} ? 'Add person' : 'Update Owner'" class="btn btn-default" type="submit" th:text="${text}">Add person</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</body>-->
<!--</html>-->
